<div>
  <form [formGroup]="form" (ngSubmit)="submit()" class="form">
    <div class="form-content ">
      <div class="form-content--group">
        <div class="form-field--full">
          <label for="email">Email</label>
          <input type="email" id="email" formControlName="email" class="form-control w-full m-auto">
          <span class="error-input-form" *ngFor="let error of errorMessages['email']">{{error}}</span>
        </div>
      </div>
      <div class="form-content--group">
        <div class="form-field--middle">
          <label for="first-name">First Name</label>
          <input type="text" id="first-name" formControlName="firstName" class="form-control w-full m-auto">
          <span class="error-input-form" *ngFor="let error of errorMessages['firstName']">{{error}}</span>
        </div>
        <div class="form-field--middle">
          <label for="last-name">Last Name</label>
          <input type="text" id="last-name" formControlName="lastName" class="form-control w-full m-auto">
          <span class="error-input-form" *ngFor="let error of errorMessages['lastName']">{{error}}</span>
        </div>
      </div>
      <div class="form-content--group">
        <div class="form-field--middle">
          <label for="price">Price</label>
          <input type="number" id="price" formControlName="price" class="form-control w-full m-auto">
          <span class="error-input-form" *ngFor="let error of errorMessages['price']">{{error}}</span>

        </div>
        <div class="form-field--middle">
          <label for="quantity">Quantity</label>
          <input type="number" id="quantity" formControlName="quantity" class="form-control w-full m-auto">
          <span class="error-input-form" *ngFor="let error of errorMessages['quantity']">{{error}}</span>
        </div>
      </div>
      <div class="form-content--group">
        <div class="form-field--full">
          <button type="submit" >{{id?'Update Order':'Create Order'}}</button>
        </div>
      </div>
    </div>
  </form>
</div>
